* {padding: 0; margin: 0;}
body {
	background: #FFF;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}
h1 {
	color: #FE379F;
	font-weight: 500;
	font-size: 36px;
	margin-bottom: 20px;
}
h2 {
	color: #DEE0EC;
	font-weight: 900;
	font-size: 72px;
	line-height: 1;
}
h3 {
	color: #51219B;
	font-size: 42px;
	margin: 20px 0 0;
	font-weight: 500;
}
h4 {
	font-size: 32px;
	color: #51219B;
	font-weight: 500;
}
h4 a {
	background: #51219B;
	text-decoration: none;
	display: inline-block;
	padding: 5px 10px;
	color: #fff;
}
#container {
	width: 60%;
	margin: 7% auto;
}